.img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.large-text-font {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}

.small-text-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.bold-text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2em;
}

.lemon {
    font-family: 'Lemon', cursive;
    font-family: 'Sriracha', cursive;
    font-size: 50px;
    font-weight: 900;
    line-height: 0.8em;
}

a {
    color: #148cd6;
}

.blue-item {
    --border-color: #148cd6;
}